Voici une "constellation" d'artistes représentant des artistes et leur proximité musicale. A partir des données de Lastfm, ce graphe représente les 200 artistes les plus proches de l'artiste de référence avec un point plus ou moins gros en fonction du nombre de fois ou il a été scrobblé par lastfm. Le mouvement (algorithme force-atlas) rapproche les différents artistes suivant leur affinité.

L'appliacation a été réalisée à l'aide du framework Rails et le rendu est réalisé à l'aide de sigma.js et des plugins force-atlas et filter (ce dernier développé par mes soins)

Enjoy!
