<%= form_tag({action: 'search_results'}, {method: 'get', remote: true}) do %>
<%= text_field :artist_search, :name %>
<%= submit_tag "search artist", class: "btn btn-primary" %>
<% end -%>
<div id="search_results"></div>
<script type="text/javascript" charset="utf-8">
	$('form').on('ajax:success', function(data, res, status) {
		$('#search_results').html(res);
	});
</script>
